{% extends "academy/base.html" %} 
{% load static %} 

{% block content %}
    <div class="image-view">
        <div id="academy">
            <p>Al Amine Academy</p>
        </div>
        <img src="{% static 'academy/img/bg3.jpg' %}" alt="AlAmineAcademy">
    </div>

    <div class="note_1">
        <div class="text_note">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. In consequatur ab est error recusandae cupiditate. Delectus error vel praesentium molestiae fugit. Cum minima facilis iste eligendi. Laudantium sunt saepe recusandae? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad.
            </p>
        </div>
        <div class="image_note">
            <img src="{% static 'academy/img/about_1.png' %}" alt="about_1">
        </div>
    </div>

    <div class="note_2">
        <div class="image_note">
            <img src="{% static 'academy/img/about_2.jpg' %}" alt="about_1">
        </div>
        <div class="text_note">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. In consequatur ab est error recusandae cupiditate. Delectus error vel praesentium molestiae fugit. Cum minima facilis iste eligendi. Laudantium sunt saepe recusandae? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Dicta molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                molestiae maiores quia. Optio iure numquam consequatur, impedit ipsum sapiente eum provident accusamus cumque? Eligendi nam soluta quisquam incidunt ratione ad.
            </p>
        </div>
    </div>

    <div class="contact_info">
        
    </div>

{% endblock content %}