{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AlAmineAcademy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device+width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!--- ===== Slick-Required_JQuery ===== ---->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!--- ===== My static files ===== ---->
    <link rel="stylesheet" type="text/css" href="{% static 'academy/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'academy/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'academy/css/aboutUs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'academy/css/course.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'academy/css/ressource.css' %}" />
    <!--- ===== Slick-css-files ===== ---->
    <link rel="stylesheet" type="text/css" href="{% static 'academy/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'academy/slick/slick-theme.css' %}" />
</head>

<body>

    <div class="header">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url 'homePage' %}" id="logo"><img src="{% static 'academy/img/logo.png' %}" alt="logo"></a>
        <a href="{% url 'homePage' %}">Home</a>
        <a href="#about_us">About Us</a>
        <div class="subnav">
            <button class="subnavbtn">Courses <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'coursePage' %}">Courses 01</a>
                <a href="{% url 'coursePage' %}">Courses 02</a>
                <a href="{% url 'coursePage' %}">Courses 03</a>
                <a href="{% url 'coursePage' %}">Courses 04</a>
                <a href="{% url 'coursePage' %}">Courses 05</a>
                <a href="{% url 'coursePage' %}">Courses 06</a>
                <a href="{% url 'coursePage' %}">Courses 07</a>
                <a href="{% url 'coursePage' %}">Courses 08</a>
                <a href="{% url 'coursePage' %}">Courses 09</a>
                <a href="{% url 'coursePage' %}">Courses 10</a>
                <a href="{% url 'coursePage' %}">Courses 11</a>
                <a href="{% url 'coursePage' %}">Courses 12</a>
            </div>
        </div>
        <a href="#programs">Programs</a>
        <div class="subnav">
            <button class="subnavbtn">Question/Answer <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#">Question Public</a>
                <a href="#">Question Private</a>
            </div>
        </div>
    </div>

    {% block content %}{% endblock content %}

    <footer class="bottom_line">

    </footer>

    <script type="text/javascript" src="{% static 'academy/js/myScript.js' %}"></script>
    <script type="text/javascript" src="{% static 'academy/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'academy/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'academy/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'academy/js/ressource.js' %}"></script>
</body>

</html>

</html>