{% extends "academy/base.html" %}
{% load static %}

{% block content %}

    <div class="image-view">
        <div id="academy">
            <p>COURSE</p>
        </div>
        <img src="{% static 'academy/img/bg4.jpg' %}" alt="AlAmineAcademy">
    </div>

    <div class="heading-title">
        <span>Course: </span>
        <span id="course-title">Course 01</span>
    </div>

    <div id="section-course-description">
        <div class="course-description">
            <div class="explanation">
                <h3>Explanation: </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro repudiandae officiis sint iste laboriosam sunt reprehenderit corporis asperiores! Non amet ad quidem cum id! Aliquid nam ipsum tempora consectetur.
                </p>
            </div>
            <div class="course-hour">
                <h3>Course-hours:</h3>
                <p> This course should normally take: 01:30 hour per day</p>
                <p> And for 24 days </p>
                <p> Averall: amount</p>
            </div>
            <div class="sign-up">
                <span>Already have an account <a href="#">...</a> ? <a href="#">Sign-Up !</a></span>
            </div>
        </div>
        <div class="course-presentation">
            <img src="" alt="">
        </div>

    </div>

    <div class="view-others">
        <h3>Others</h3>
        <ul id="courses">
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
            <li class="course-item">
                <div class="course-doc">
                    <img src="" alt="">
                </div>
                <div class="course-desc">
                    <p class="course-desc-title">Document-01</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad iusto animi rem inventore? Dignissimos alias repellat deleniti sint. Nobis animi nostrum cupiditate sunt nemo deserunt reprehenderit? Necessitatibus, blanditiis. Ea.</p>
                </div>
                <div class="course-offer">
                    <p>Price: $10.11</p>
                    <button class="take-btn"><a href="#">Take</a></button>
                    <button class="see-btn"><a href="#">See</a></button>
                </div>
            </li>
        </ul>
    </div>



{% endblock content %}