{% extends "academy/base.html" %}
{% load static %}

{% block content %}
 
    <div class="galleryContainer">
        <div class="slideShowContainer">
            <div id="playPausen"></div>
            <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span></div>
            <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span></div>
            <div class="captionTextHolder">
                <p class="captionText slideTextFromTop"></p>
            </div>
            <div class="imageHolder">
                <img src="{% static 'academy/img/bg9.jpg' %}">1366X768
                <p class="captionText">Caption Text-01</p>
            </div>
            <div class="imageHolder">
                <img src="{% static 'academy/img/bg5.jpg' %}">
                <p class="captionText">Caption Text-02</p>
            </div>
            <div class="imageHolder">
                <img src="{% static 'academy/img/bg3.jpg' %}">
                <p class="captionText">Caption Text-03</p>
            </div>
            <div class="imageHolder">
                <img src="{% static 'academy/img/bg4.jpg' %}">
                <p class="captionText">Caption Text-04</p>
            </div>
        </div>
        <div id="dotsContainer"></div>
    </div>

    <div class="research_bar">
        <form action="" method="GET">
            <input type="text" name="research" placeholder="Search..." />
        </form>

        <ul class="qux">
            <li id="login"><a href="#">LOG IN</a></li>
            <li id="signup"><a href="#">SIGN UP</a></li>
        </ul>
    </div>


    <div class="programs_wrapper" id="programs">
        <h2>Programs</h2>

        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/fiqh.png' %}" alt="Fiqh" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'fiqh' %}">Fiqh</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/tawhid.jpeg' %}" alt="Tawhid" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'tawhid' %}">Tahwid</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>

        </div>

        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/tafsir.png' %}" alt="Tafsir" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'tafsir' %}">Tafsir</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/khutbahs.jpeg' %}" alt="khutbahs" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'khutba' %}">Khutbahs</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </div>

        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/bayane.jpg' %}" alt="Bayane" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'bayane' %}">Bayane</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>

            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/seerah.jpg' %}" alt="Seerah" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'seerah' %}">Seerah</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </div>
    </div>

    <div class="about_us_head about_us_head_index" id="about_us">
        <h3>About Us</h3>
    </div>

    <div class="about_us_section">
        <div class="about_us_presentation">
            <div class="about_us_video_section">
                <img id="about_us_image" src="{% static 'academy/img/bg7.jpg' %}" alt="bg">
            </div>
            <button id="play_video" onclick="playVideo()"><img id="play_video_img" src="{% static 'academy/img/play_video_icon.jpg' %}" alt="play"></button>
        </div>
    </div>
    <div class="about_us_see_more">
        <p><a href="{% url 'aboutUsPage' %}"> See more...</a></p>
    </div>


    <div class="daily_hadith_section">
        <h1>Daily Hadith</h1>
        <div class="hadith_section">
            <div class="hadith_text">

            </div>
            <div class="hadith_document">

            </div>
        </div>

    </div>

    <div class="top_container02">
        <h1>Playlist Videos</h1>
        <div class="container">
            <div class="slick_slider">
                <!-------Slide 01-------->
                <!----Slider Box---->
                {% for playlist in playlists %}
                    <div class="card">
                        <iframe controls class="box_video" src="{{ playlist.playlistUrl }}" style="border:none;">
                            {% comment %} <source src="{{ playlist.player.url }}" type="video/mp4"> {% endcomment %}
                        </iframe>
                        <div class="box_container">
                            <h4><b>{{ playlist.playlistTitle.title }}</b></h4>
                            <p class="video_description"></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="playlist_audio">
        <h1>Playlist Audios</h1>
        <div class="playlist_box">
            <ul id="playlist">
                <li class="playlist-item" onclick="playPause(0)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title audio_li"> The Title </span>
                    <span class="audio_description audio_li"> ... The audio description ...</span>
                    <span class="audio_duration audio_li"> 00:43</span>
                </li>
                <li class="playlist-item" onclick="playPause(1)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title"> The Title </span>
                    <span class="audio_description"> ... The audio description ...</span>
                    <span class="audio_duration"> 01:03</span>
                </li>
                <li class="playlist-item" onclick="playPause(2)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title"> The Title </span>
                    <span class="audio_description"> ... The audio description ...</span>
                    <span class="audio_duration"> 10:00</span>
                </li>
                <li class="playlist-item" onclick="playPause(3)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title"> The Title </span>
                    <span class="audio_description"> ... The audio description ...</span>
                    <span class="audio_duration"> 45:20</span>
                </li>
                <li class="playlist-item" onclick="playPause(4)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title"> The Title </span>
                    <span class="audio_description"> ... The audio description ...</span>
                    <span class="audio_duration"> 00:10</span>
                </li>
                <li class="playlist-item" onclick="playPause(5)">
                    <i class="fa fa-play-circle fa-lg"></i>
                    <span class="audio_title"> The Title </span>
                    <span class="audio_description"> ... The audio description ...</span>
                    <span class="audio_duration"> 00:43</span>
                </li>
            </ul>
            <div class="audio_box">
                <div id="image">
                    <img src="{% static 'academy/img/bg.jpg' %}" alt="audio-image">
                </div>
                <div id="player">
                    <div id="songTitle">Hello World</div>
                    <div id="audio_btns">
                        <button id="pre"><img src="{% static 'academy/img/prev.png' %}" height="20px" width="20px"></button>
                        <button id="play"><img src="{% static 'academy/img/play.png' %}"> </button>
                        <button id="next"><img src="{% static 'academy/img/next.png' %}" height="20px" width="20px"></button>
                    </div>
                    <div id="seek-bar">
                        <div id="fill"></div>
                        <div id="handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}