{% extends "academy/base.html" %} {% load static %} {% load i18n %} {% load account socialaccount %} {% block nav_item %}
<li class="nav-item">
    <a class="nav-link" href="#about_us">About Us</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#programs">Programs</a>
</li>
{% endblock nav_item %} {% block content %}

<div class="galleryContainer">
    <div class="slideShowContainer">
        <div id="playPausen"></div>
        <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span></div>
        <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span></div>
        <div class="captionTextHolder">
            <p class="captionText slideTextFromTop"></p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'academy/img/bg9.jpg' %}">1366X768
            <p class="captionText">Caption Text-01</p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'academy/img/bg5.jpg' %}">
            <p class="captionText">Caption Text-02</p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'academy/img/bg3.jpg' %}">
            <p class="captionText">Caption Text-03</p>
        </div>
        <div class="imageHolder">
            <img src="{% static 'academy/img/bg4.jpg' %}">
            <p class="captionText">Caption Text-04</p>
        </div>
    </div>
    <div id="dotsContainer"></div>
</div>

<div class="research_bar row align-item-center">
    <form class="form-inline my-2 col-md-8">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="col-md-4 mybtns btn-group btn-group-toggle">
        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="btn btn-outline-light mr-auto btn-sm" role="button">SIGN OUT</a> 
        {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-outline-light my-auto btn-sm" role="button">LOG IN</a>
        <a href="{% url 'account_signup' %}" class="btn btn-outline-light my-auto btn-sm" role="button">SIGN UP</a> 
        {% endif %}
    </div>
</div>


<div class="programs_wrapper" id="programs">
    <h2>Programs</h2>
    <div class="program_container">
        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/fiqh.png' %}" alt="Fiqh" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'fiqh' %}">Fiqh</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/tawhid.jpeg' %}" alt="Tawhid" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'tawhid' %}">Tahwid</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>

        </div>

        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/tafsir.png' %}" alt="Tafsir" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'tafsir' %}">Tafsir</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/khutbahs.jpeg' %}" alt="khutbahs" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'khutba' %}">Khutbahs</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </div>

        <div class="program_row">
            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/bayane.jpg' %}" alt="Bayane" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'bayane' %}">Bayane</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>

            <div class="program_card">
                <div class="program_head">
                    <img src="{% static 'academy/img/seerah.jpg' %}" alt="Seerah" class="program_logo">
                    <h3><a href="{% url 'ressourcePage' 'seerah' %}">Seerah</a></h3>
                </div>
                <p class="program_body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </div>
    </div>
</div>

<div class="about_us_head about_us_head_index" id="about_us">
    <h3>About Us</h3>
</div>

<div class="about_us_section">
    <div class="about_us_presentation">
        <div class="about_us_video_section">
            <img id="about_us_image" src="{% static 'academy/img/bg7.jpg' %}" alt="bg">
        </div>
        <button id="play_video" onclick="playVideo()"><img id="play_video_img" src="{% static 'academy/img/play_video_icon4.png' %}" alt="play"></button>
    </div>
</div>
<div class="about_us_see_more">
    <p><a href="{% url 'aboutUsPage' %}"> See more...</a></p>
</div>


<div class="daily_hadith_section">
    <h1>Daily Hadith</h1>
    <div class="hadith_section">
        <div class="hadith_text">

        </div>
        <div class="hadith_document">

        </div>
    </div>

</div>

<div class="top_container02">
    <h1>Playlist Videos</h1>
    <div class="my_container">
        <div class="slick_slider">
            <!-------Slide 01-------->
            <!----Slider Box---->
            {% for playlist in playlists %}
            <div class="mycard">
                <iframe controls class="box_video" src="{{ playlist.playlistUrl }}" style="border:none;">
                            {% comment %} <source src="{{ playlist.player.url }}" type="video/mp4"> {% endcomment %}
                        </iframe>
                <div class="box_container">
                    <h4><b>{{ playlist.playlist.title }}</b></h4>
                    <p class="video_description"></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="playlist_audio">
    <h1>Playlist Audios</h1>

    <div class="container">
        <div class="playlist_box">
            <div class="my-3 bg-white rounded shadow-sm">
               <div class="row mb-3">
                    <div class="col-md-6 mb-1 text-center">
                        <div class="audio_title">
                            <h5>Title</h5>
                        </div>
                        <div class="audio_description"> 
                            <span> Song description </span>
                        </div>
                    </div>
                    <div class="audio-player col-md-6 justify-flex">
                        <div class="timeline">
                            <div class="progress"></div>
                        </div>
                        <div class="controls">
                            <div class="play-container">
                            <div class="toggle-play play">
                            </div>
                            </div>
                            <div class="time">
                            <div class="current">0:00</div>
                            <div class="divider">/</div>
                            <div class="length"></div>
                            </div>
                            <div class="name">Music Song</div>
                        <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
                            <div class="volume-container">
                            <div class="volume-button">
                                <div class="volume icono-volumeMedium"></div>
                            </div>
                            
                            <div class="volume-slider">
                                <div class="volume-percentage"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}