* {
    margin: 0px;
    padding: 0px;
}

.heading-title {
    margin-top: 10px;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 60px;
    font-size: 30px;
}

#course-title,
.course-hour p {
    padding-left: 10px;
}

.sign-up {
    text-align: center;
}


/* .course-description,
.course-presentation {
    float: left;
} */

.course-presentation {
    width: 200px;
    height: 200px;
    background-color: #000;
    margin: 0 auto;
}

.course-description {
    width: 70%;
    background-color: #eee;
    color: #2c3e50;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

#section-course-description {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #eee;
    /* padding: 10px 30px; */
    line-height: 30px;
    border: none;
    border-radius: 25px 20px 20px 25px;
    background: #2c3e50;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section-course-description {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* #section-course-description {
    clear: both;
    content: "";
    display: block;
} */

.explanation p {
    padding-left: 10px;
}

.view-others {
    width: 90%;
    margin: 40px auto;
    height: auto;
    padding: 20px 10px;
}

.view-others h3 {
    font-size: 30px;
}

#courses {
    margin: 10px 20px;
}

#courses li {
    list-style: none;
}

.course-item {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .course-doc {
    width: 150px;
    height: 150px;
    background-color: bisque;
}

.course-item .course-desc {
    width: 65%;
}

.course-desc-title {
    padding-left: 20px;
    font-size: 20px;
}

.course-item .course-offer {
    line-height: 30px;
}

.course-offer p {
    font-weight: bold;
    letter-spacing: 3px;
}

.course-offer button {
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.course-offer .take-btn {
    background-color: #2c3e50;
}

.course-offer .see-btn {
    background-color: orange;
}

.course-offer .take-btn a {
    color: #eee;
}

.course-offer .see-btn a {
    color: #2c3e50;
}

.course-offer button a {
    text-decoration: none;
}