* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* The navigation menu */

.navbar {
    overflow: hidden;
    background-color: #2c3e50;
    height: 8vh;
}

.navbar img {
    width: 8vh;
    height: 8vh;
    text-align: center;
}

.navbar #logo {
    padding: 0px;
    width: 15%;
    background-color: #fff;
}


/* Navigation links */

.navbar a {
    float: left;
    font-size: 18px;
    color: #eee;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* The subnavigation menu */

.subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

.subnav .subnavbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #eee;
    padding: 14px 16px;
    background-color: #2c3e50;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #243342;
    cursor: pointer;
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    width: 100%;
    /* height: 200px; */
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(44, 62, 80, 0.8);
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    width: 100%;
    text-align: left;
    color: white;
    text-decoration: none;
    padding-left: 30px;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    background-color: #243342;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: display 800ms ease-in-out;
}


/*------------------------------------------------*/


/* Style the header: fixed position (always stay at the top) */

.header {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color: #2c3e50;
}


/* The progress container (grey background) */

.progress-container {
    width: 100%;
    height: 5px;
    background: #eee;
}


/* The progress bar (scroll indicator) */

.progress-bar {
    height: 5px;
    background: #243342;
    width: 0%;
}


/*------------------------------------------------*/

.research_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #2c3e50;
}

.qux {
    width: 30%;
    text-align: right;
}

.qux li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    border: 1px solid #000;
    outline: none;
    padding: 5px 10px;
}

.qux li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

#login {
    background-color: #fff;
}

#login a {
    color: #2c3e50;
}

#signup {
    color: #eee;
}

#signup a {
    color: #eee;
}

#signup:hover {
    transition: all 400ms ease-in-out;
    background-color: rgb(161, 148, 148);
}

#login:hover {
    transition: all 400ms ease-in-out;
    background-color: rgb(161, 148, 148);
}

.research_bar form {
    width: 25%;
}

.research_bar input[type="text"] {
    height: 40px;
    margin: auto 0;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: white;
    background-image: url('img/search.png');
    /* background-position: 10px 10px; */
    /* background-repeat: no-repeat; */
    padding-left: 40px;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out;
}

.research_bar input[type=text]:focus {
    border: 3px solid #555;
    width: 100%;
}


/* ----------------------------------------------- */

.programs_wrapper h2 {
    margin-top: 30px;
    text-align: center;
    color: #2c3e50;
    height: 100px;
    font-size: 50px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.program_logo {
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    padding: 3px 3px;
}

.program_row {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.program_head {
    display: flex;
    align-items: center;
}

.program_card {
    width: 500px;
    padding: 20px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.program_card:hover {
    transition: box-shadow 300ms ease-in;
    background-color: #eee;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    color: #2c3e50;
}

.program_head h3 {
    width: 50%;
    text-align: center;
}

.program_head a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
}

.program_head a:hover {
    border: 1px solid #2c3e50;
    padding: 10px 20px;
    background-color: #2c3e50;
    outline: none;
    color: #eee;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}


/* ----------------------------------------------- */

.about_us_see_more {
    padding: 10px 0px;
    color: #000;
    background-color: #eee;
}

.about_us_see_more a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    font-weight: 500;
}

.about_us_see_more p {
    text-align: center;
    padding-top: 5px;
}

.about_us_see_more a:hover {
    font-weight: 800;
    transition: all 400ms ease-in-out;
}

.about_us_head_index {
    width: 100%;
    height: 90px;
    color: #eee;
    background-color: #2c3e50;
}

.about_us_head h3 {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}


/* ----------------------------------------------- */

.container {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box {
    width: 300px;
    height: 250px;
    background-color: white;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, .1);
    margin: 0 10px;
    position: relative;
}

.box_video {
    width: 100%;
}

.box .title {
    color: #243342;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
}

.video_description {
    text-align: center;
    color: #243342;
}

.slick_slider {
    width: 90%;
    /* background-color: #2c3e50; */
}


/*-----------------------------------*/

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
    margin: auto 10px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.box_container {
    padding: 2px 16px;
}


/**----------------------------------------*/

.daily_hadith_section {
    margin: 20px 0px;
}

.daily_hadith_section h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.hadith_section {
    display: flex;
    justify-content: space-evenly;
}

.hadith_text,
.hadith_document {
    width: 46%;
    height: 250px;
    background-color: #eee;
    overflow: hidden;
}


/*----------------------------------------*/

.top_container02 h1 {
    background-color: #2c3e50;
    margin-top: 30px;
    text-align: center;
    color: #eee;
    height: 100px;
    font-size: 50px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}


/*---------------------------------------*/

.playlist_audio h1 {
    text-align: center;
    margin: 10px 0px;
}

.playlist_box {
    width: 100%;
    height: 400px;
}

.playlist_box:after {
    clear: both;
    content: "";
    display: block;
}

.playlist_box #playlist,
.playlist_box .audio_box {
    float: left;
    padding: 1%;
}

#playlist {
    width: 56%;
    margin: 1%;
    /* background-color: #eee; */
}

#playlist li {
    list-style: none;
    height: 60px;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio_box {
    width: 30%;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 15px;
}

#image img {
    height: 180px;
    width: 100%;
    margin-top: -5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#player {
    padding: 25px;
    color: #333;
    position: relative;
    top: 8px;
}

#songTitle {
    text-align: center;
    width: 300px;
    color: #333;
    font-family: monospace, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#audio_btns {
    height: 50px;
    width: 100%;
    margin-top: 40px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play,
#next,
#pre {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #eee;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play img {
    width: 50px;
    height: 50px;
}

#next {
    width: 30px;
    height: 30px;
    left: 70%;
}

#pre {
    width: 30px;
    height: 30px;
    left: 30%;
}

#play img,
#next img,
#pre img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#seek-bar {
    width: 250px;
    height: 5px;
    background-color: grey;
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
}

#fill {
    height: 5px;
    width: 10px;
    background-color: #2c3e50;
    border-radius: 20px;
}

#handle {
    width: 8px;
    height: 8px;
    background-color: #2c3e50;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}


/*--------------------------------------*/

.bottom_line {
    height: 300px;
    width: 100%;
    background-color: #2c3e50;
    margin-top: 100px;
}


/* $$$$$$$$$$$$ Phone Scree $$$$$$$$$$$$$$ */

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    nav {
        justify-content: space-between;
    }
    .nav-links {
        position: absolute;
        top: 8vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 10;
        align-items: center;
    }
    .nav-links li {
        width: 100%;
    }
    .nav-links li ul {
        position: absolute;
        bottom: 0;
    }
    .nav-links li ul {
        width: 100%;
    }
    .burger {
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
    #course {
        position: absolute;
        top: 0px;
    }
}